registry=https://lovestfs.pkgs.visualstudio.com/_packaging/packages/npm/registry/
always-auth=true
//lovestfs.pkgs.visualstudio.com/_packaging/packages/npm/registry/:username=doesNotMatterButRequiredToBeHere
//lovestfs.pkgs.visualstudio.com/_packaging/packages/npm/registry/:_password=${AZURE_PACKAGE_TOKEN}
